[submodule "FoundryTests/lib/forge-std"]
	path = FoundryTests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FoundryTests/lib/openzeppelin-contracts"]
	path = FoundryTests/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
